.wrap {
  height: 100%;
}

.circle {
  position: relative;
      display: flex;
    gap: 8px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}


.list {
    margin: 0 auto;
    width: fit-content;
  background-color: white;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
}

/* .gap {
  background-color: wheat;
  padding: 0 8px;
  border-radius: 8px;
}

.box {
  width: 1rem;
  height: 2rem;
} */

.wordBank {
    background-color: white;
    width: 400px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;

}
.word{
    cursor: pointer;
}