*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
   /* TEXT */
  --color-text-primary: #1b1919;
  --color-text-secondary: #483d3c;

  /* BACKGROUNDS */
  --color-bg-main: #eff7d3;
  --color-bg-sidebar: #a7b99e;
  --color-bg-accent: #aed09e;

  /* PRIMARY (main UI color) */
  --color-primary: #6b8c42;
  --color-primary-hover: #535a3b;

  /* SECONDARY (support color) */
  --color-secondary: #639a67;
  --color-secondary-hover: #5a3921;

  /* ACCENTS */
  --color-accent-blue: #205d67;
  --color-accent-warm: #d9bf77;

  /* WARNING / ERROR */
  --color-danger: #ac0c0c;

  /* SURFACES */
  --color-card: #ffffb5;
  --color-border: #483d3c;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body{
  color: var(--color-text-primary)
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
/* #root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
} */

